<script>
    import { useTheme } from 'vuetify'
    import { useAuthStore } from '@/stores/auth'
    import NavBarLink from '@/components/NavBarLink'
    export default {
        data: () => ({
            drawer: false,
        }),
        setup () {
            const theme = useTheme()
            const authStore = useAuthStore()
            return {
                authStore,
                theme,
                toggleTheme: () => theme.global.name.value = theme.global.current.value.dark ? 'light' : 'dark'
            }
        },
        components: {
            NavBarLink
        },
        methods: {
            loadView(view) {
                this.$router.push({name: view})
                this.drawer = false
            }
        }
    }
</script>

<template>
    <v-app>
        <v-navigation-drawer v-model="drawer">

        <v-list nav>
            <v-list-item
                prepend-icon="mdi-home"
                title="Home"
                @click="loadView('Home')"
            />
            <!--<v-list-item
                prepend-icon="mdi-text-box-multiple"
                title="Recipes"
                @click="loadView('Recipes')"
            />-->
        </v-list>

        </v-navigation-drawer>

        <v-app-bar>
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title>
                Meal Planner
            </v-toolbar-title>

            <template v-slot:append>
                <v-btn icon="mdi-brightness-6" @click="toggleTheme"></v-btn>
                <v-btn v-if="authStore.user" icon="mdi-logout" @click="authStore.logout()"></v-btn>
            </template>
        </v-app-bar>

        <router-view />

    </v-app>
</template>

<style>
a {
    text-decoration: none
}
</style>
