<script>
    import { useAuthStore } from '@/stores/auth'
    export default {
        setup() {
            const authStore = useAuthStore()
            return {
                authStore
            }
        },
        data: () => ({
            valid: true,
            username: '',
            password: '',
            showPass: false,
            rules: {
                required: value => !!value || 'Required.',
                min: v => v.length >= 8 || 'Min 8 characters',
            }
        }),
        methods: {
            login() {
                if (!this.valid) {
                    return
                }
                this.authStore.login(this.username, this.password)
            },
        }
    }
</script>
<template>
<v-main>
    <v-container>
        <v-row>
            <v-spacer />
            <v-col sm=4 cols=12>
                <v-card>
                    <v-card-title align="center">
                        Please login to continue
                    </v-card-title>
                    <v-card-text align="center">
                        <v-form
                            ref="login"
                            v-model="valid"
                            lazy-validation
                        >
                            <v-text-field
                                v-model="username"
                                label="Username"
                                :rules="[rules.required]"
                                required
                            >
                            </v-text-field>
                            <v-text-field
                                v-model="password"
                                label="Password"
                                :type="showPass ? 'text' : 'password'"
                                :rules="[rules.required, rules.min]"
                                name="password"
                                required
                                @keyup.enter="login"
                            >
                            </v-text-field>
                            <v-btn @click="authStore.login(username, password)" :disabled="!valid">Login</v-btn>
                        </v-form>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-spacer />
        </v-row>
    </v-container>
</v-main>
</template>
